{% extends 'play/base.html' %}
{% block title %}Догадки{% endblock %}
{% block main %}
<p>Экстрасенсы предположили</p>
<table border="1">
  <tr>
    <td>Василий</td>
    <td>Петр</td>
  </tr>
  <tr>
    <td> {{ vasily.answer }}</td>
    <td> {{ petr.answer }}</td>
  </tr>
</table>
<p></p>
<form action="{% url 'play:test' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK" />
</form>
<p></p>
<p>Текущие результаты экстрасенсов:</p>
<p>Василий  {{ vasily.score }}    Он угадал следующие чиса {{ vasily.numbers }}</p>
<p>Петр  {{ petr.score }}   Он угадал следующие чиса {{ petr.numbers }}</p>
<p>Вы выбирали следующие числа {{ all_numbers }}</p>
{% endblock %}